.noMargin {
    margin: 0px;
  }
  
  .one {
    margin-left:20px;
}
  
  .two {
    margin-left:20px;  
  }
  
  .three {
    margin-left:20px;  
  }
  
  .four {
    margin-left:20px;  
  }
  
  .inner {
    align-items: center;
    margin:auto;
    padding-right: 10px;
}
    /*whatever width you want*/

.sms-btn{
    width: 105px; 
    height: 98px;
    background:url('../../images/sms.png'); background-size: 100% 100%;
    
}
.delivered-btn{
    width: 105px;
    height: 100px;
    background:url('../../images/delivered2.png'); background-size: 100% 100%;
}
.done-btn{
    width: 106px; 
    height: 110px;
    background:url('../../images/done.png'); background-size: 100% 100%;
}
.waze-btn
{
    width: 105px;
    height: 100px;
    background:url('../../images/waze.png'); background-size: 100% 100%;
}
.btn_box_GRID{
    flex-grow: 0;
    max-width: 50%;
    flex-basis: 50%;
    width: 50%;
    padding: 10px;
    text-align: center;

}
.btn__bottomApps{
}
.loginPage_rightComponent{
    
}

.-loginPage_rightComponent{
   
}

@media screen and (max-width: 991px) {
    .btn__leftSide_Grid{
        flex-grow: 0;
        max-width: 0;
        flex-basis: 0;
    }
    .btn__rightSide_Grid{
        flex-grow: 0;
        max-width: 0;
        flex-basis: 0;
    }
    .delivered-btn{
        width: 106px; 
        height: 101px;
        background:url('../../images/delivered2.png'); background-size: 100% 100%;
    }
  }
  
  @media screen and (max-width: 768px) {
    .sms-btn{
        width: 105px; 
        height: 100px;
        
        background:url('../../images/sms.png'); background-size: 100% 100%;
    }

    .delivered-btn{
        width: 106px; 
        height: 101px;
        background:url('../../images/delivered2.png'); background-size: 100% 100%;
    }

    .loginPage_rightComponent{
        width: 300px;
        height: 120px;
        background-color: transparent;
        border:transparent;

    }

    .done-btn{
        width: 106px; 
        height: 107px;
        background:url('../../images/done.png'); background-size: 100% 100%;
    }
    .waze-btn
    {
        width: 105px; 
        height: 100px;
        background:url('../../images/waze.png'); background-size: 100% 100%;
    }
    .-loginPage_rightComponent{
        width: 300px;
        height: 120px;
        padding-bottom: 25px;
        background-color: transparent;
    
    }

    .btn_box_GRID{
        flex-grow: 0;
        max-width: 100%;
        flex-basis: 100%;
        margin: auto;
        margin: auto;
        width: 100%;
        padding: 10px;
        text-align: center;
    }

    .inner {
        align-items: center;
        margin:auto;
        padding-right: 20px;
    }

}